DB_HOST=postgres
DB_USER=arenafitway
DB_PORT=5432
DB_PASSWORD=arenafitway
DB_NAME=arenafitway
DB_DRIVER=pgsql

APP_NAME="API"
APP_ENV=development
APP_TIMEZONE=America/Sao_Paulo

CORS_ALLOWED_ORIGINS=http://localhost:5173

DD_LOG_DIR=./logs

JWT_SECRET=arenafitway-dev-secret